body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Inter, sans-serif;
    line-height: 1.5;
    letter-spacing: -0.02rem;
}

.section {
}
.container {
    @apply mx-auto px-4;
}
.title {
    letter-spacing: 0.01rem;
    @apply font-bold text-[38px];
}
.form-section {
    padding-top: 25px;
}
.search-section {
    padding-top: 34px;
}
.contactlist-section {
    padding-top: 30px;
}
